<div id="categories-area">
        <button title="Manage categories" id="edit-btn" type="button" class="btn btn-outline-success" onclick="editCategories()">&#128736</button>
        <ul id="categories-links">
                <% if(categories.length){
                for(let i = 0; i < categories.length; i++) {%>
                        <li id="<%= categories[i]._id %>"><a href="/category?name=<%= categories[i].name %>"><%= categories[i].name %></a></li>
                <% }} else { %>
                        <p class="alert-danger">No Categories</p>
                <% } %>
        </ul>
        <button title="Add new category" id="add-btn" style="display: none" type="button" class="btn btn-outline-info"
                onclick="addField()">&#10133</button>
        <button title="Save" id="save-btn" style="display: none" type="button" class="btn btn-outline-success"
                onclick="saveChanges()">&#128190</button>
        <button title="Cancel" id="discard-btn" style="display: none" type="button" class="btn btn-outline-danger"
                onclick="closeEditMenu()">&#10060</button>
</div>

<script src="js/category.cud.js"></script>