body {
    background-color: #000000;
}

.container {
    background-color: #072227;
    min-height: 100vh;
}

main {
    /*background-color: white;*/
    min-height: 100vh;
}

aside {
    background-color: white;
    min-height: 100vh;
}

header {
    background-color: #35858B;
    color: black;
    padding: 10px;
}

h1 {
    color: #FFFFFF;
}

footer {
    padding: 20px;
    background-color: #072227;
}

footer > * {
    margin: 0;
}

.posts-container > * {
    margin: 10px 0;
}

#post_date {
    font-weight: bold;
    font-size: 0.7em;
    color: #878787;
}


